* {
    padding: 0px;
    margin: 0px;
    font-family: 'Lato', sans-serif;
}

p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

.primary-btn {
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    cursor: pointer;
}

button:hover {
    background: #3eaa14;
}

/* header part */

header, #hot-deal {
    background-color: rgb(223, 84, 118, 0.18);
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    /* background-color: #3eaa14; */
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-txt h1 {
    color: #272727;
    font-size: 60px;
    font-weight: 800;

}

.banner-txt * {
    margin-bottom: 32px;
    max-width: 525px;
}

.banner-img img {
    width: 100%;
    vertical-align: middle;
}

/* main part */
.section-title {
    max-width: 500px;
    text-align: center;
    margin: 20px auto;
}

.section-title h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;
}

.featured {
    padding: 100px 0;
}

/* 1st part */

.section-content {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    align-items: end;

}

.flower-img {
    background-color: #f17a94;
    border-radius: 300px 300px 0px 0px;
    padding: 30px 25px 0;
    height: 500px;
    display: flex;
    /* align-items: end; */
}

.pink {
    background: rgba(167, 33, 98, 0.15);
}

.blue {
    background: rgba(5, 151, 160, 0.15);

}

.green {
    background: rgba(71, 125, 17, 0.15);

}

.flower-img img {
    width: 100%;
}

.flower p {
    margin-top: 32px;
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* service-container */

.service-container {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.service {
    margin: 80px;
}

.service img {
    padding-top: 0px;
    padding-bottom: 24px;
}

/* hot-deal */

.hot-deal-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0px;
}

.hot-deal-txt {
    width: 75%;
    max-width: 550px;
    margin-bottom: 24px;
    text-align: center;
}

.hot-deal-txt * {
    margin-bottom: 24px;
}


.hot-deal-txt h2 {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    /* margin-bottom: 24px; */

}

.important {
    color: #E55473;
    font-size: 40px;
    font-weight: 800;
}

.hot-deal-img {
    max-width: 318px;
}

/* instagram */
.insta-content {
    margin-top: 130px;
}

.insta {
    display: flex;
    justify-content: space-around;
    /* max-width: 485px; */
    gap: 24px;
}


.insta-img img {
    margin-top: 48px;
    width: 100%;
    /* gap: 24px; */
}

/* latest-deal */
.latest-deal {
    margin: 128px 0px;
}

.news {
    background-image: url('../image/Rectangle_9.png');
    background-repeat: no-repeat;
    padding: 122px 0px;
}

form {
    margin: 20px auto;
    max-width: 800px;
    display: flex;
    gap: 16px;
}

form input {
    border-radius: 8px;
    background: #FFF;
    border: none;
    flex-grow: 1;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    padding: 22px;
    outline: none;
}

/* footer */
footer {
    background: #111010;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 130px 0px
}
 
.footer-content h2 {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;
    padding-bottom: 24px;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    padding-bottom: 32px;

}

.footer-end {
    color: rgba(255, 255, 255, 0.40);

}